/*
CSS RESETS:
 Border box reset: https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 62.5% Fix: https: //www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-size: 1.6rem; /* font-size 1.6rem is now the same as 16px */
    line-height: 1.6;
    background-color: lightgrey;
}

.prompt-container {
    position: relative;
    border: 2px solid black;
    width: 70vw;
    height: auto;
    left: 15vw;
    top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px;
    grid-auto-rows: 200px;
}

.prompt-item {
    border: 1px solid green;
    padding: 10px;
}

.option-container {
    position: relative;
    border: 2px solid white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.option-item {
    border: 1px solid blue;
    padding: 10px;
}

.button {
    display: inline-block;
    background: cadetblue;
    padding: 5px;
    line-height: 1;
    border: 1px solid #4f7e80;
    border-radius: 4px;
    justify-content: center;
}

.button:hover {
    background: rgb(129, 191, 194);
    border: 1px solid cadetblue;
}